Python is a high-level, interpreted, general-purpose programming language.

It was created by Guido van Rossum and first released in 1991.                     
Key Features of Python:

Easy to Learn and Read

Simple syntax similar to English

Ideal for beginners

Interpreted Language

Python code runs line by line (no need to compile)

High-Level Language

Handles memory management automatically

Abstracts low-level details

Dynamic Typing

Variables donâ€™t need explicit data types

Type is determined at runtime

Object-Oriented

Supports classes, objects, inheritance, etc.

Extensive Libraries

math, random, os, sys, numpy, pandas, tensorflow, etc.

Cross-Platform

Works on Windows, macOS, Linux

Open Source

Free to use and has a huge community

Variables in Python

A variable is used to store data in memory.

ðŸ”¹ Common Data Types in Python

int â†’ Integer numbers

float â†’ Decimal numbers

str â†’ Text

bool â†’ True / False

In [1]:
# Variables
x = 10          # Integer
y = 3.5         # Float
name = "Python" # String
is_active = True  # Boolean

# Print values
print(x)
print(y)
print(name)
print(is_active)

# Check data types
print(type(x))
print(type(y))
print(type(name))
print(type(is_active))

10
3.5
Python
True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

Output in Python

We use the print() function to display output.

In [2]:
print("Hello World")
print("Welcome to Python")

Hello World
Welcome to Python

Input in Python

We use the input() function to take input from the user.

input() always returns string data.

In [3]:
name = input("Enter your name: ")
print("Hello", name)

Enter your name: ss
Hello ss

Operators in Python

Arithmetic Operators are used to perform operations on variables and values.

In [4]:
a = 10
b = 3

print(a + b)   # Addition
print(a - b)   # Subtraction
print(a * b)   # Multiplication
print(a / b)   # Division
print(a % b)   # Modulus
print(a ** b)  # Power

13
7
30
3.3333333333333335
1
1000

Comparison Operators

Used to compare two values.

In [5]:
x = 5
y = 10

print(x == y)
print(x != y)
print(x > y)
print(x < y)

False
True
False
True

Logical Operators

Used to combine conditions.

In [6]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

if Statement

Executes code only if the condition is true.

In [7]:
num = 10

if num > 0:
    print("Positive number")

Positive number

if - else

Used when there are two conditions.

In [8]:
num = -5

if num > 0:
    print("Positive")
else:
    print("Negative")

Negative

if â€“ elif â€“ else

Used when there are multiple conditions. elif means â€œelse ifâ€

In [9]:
num = 0

if num > 0:
    print("Positive")
elif num == 0:
    print("Zero")
else:
    print("Negative")

Zero

For Loop

Used when the number of iterations is known

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

While Loop

Runs as long as the condition is True.

In [11]:
count = 0

while count < 3:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2

Loop Control Statements                                                                                  
break â€“ exits the loop                                                           
continue â€“ skips current iteration

In [12]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [13]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

Lists in Python

A list is a collection of items that is: Ordered, Mutable (can be changed), Allows duplicate values
Key Points

âœ” Lists are changeable
âœ” Index starts from 0
âœ” Useful for storing multiple values

In [41]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [42]:
#Modifying a list
numbers[1] = 20
print(numbers)

[1, 20, 3, 4, 5]

In [43]:
#add elements to a list
numbers.append(6)
#numbers.insert(1, 10)
print(numbers)

[1, 20, 3, 4, 5, 6]

In [44]:
numbers.insert(1, 10)
numbers

[1, 10, 20, 3, 4, 5, 6]

In [45]:
#remove elements in a list
numbers.remove(10)
#numbers.pop()
print(numbers)

[1, 20, 3, 4, 5, 6]

In [46]:
numbers.pop(1) #pop(index)

20

In [47]:
#looping through list
for num in numbers:
    print(num)

1
3
4
5
6

Tuples

A tuple is:Ordered, Immutable (cannot be changed), Allows duplicates

In [48]:
my_tuple = (1, 2, 3, 3)
print(my_tuple)

print(my_tuple[0])   # Access element

(1, 2, 3, 3)
1

Sets                                                                                        
A set is: Unordered, Mutable, and Does NOT allow duplicates

In [49]:
my_set = {1, 2, 3, 3, 4}
print(my_set)   # Duplicates removed

{1, 2, 3, 4}

In [50]:
#sets operations
a = {1, 2, 3}
b = {3, 4, 5}

print(a | b)   # Union
print(a & b)   # Intersection
print(a - b)   # Difference

{1, 2, 3, 4, 5}
{3}
{1, 2}

Dictionaries in Python

A dictionary stores data in keyâ€“value pairs.

In [51]:
#creating a dictionary
student = {
    "name": "John",
    "age": 21,
    "course": "Python"
}

print(student)

{'name': 'John', 'age': 21, 'course': 'Python'}

In [52]:
#accessing values
print(student["name"])
print(student.get("age"))

John
21

In [53]:
#Modifying dict.
student["age"] = 22
student["city"] = "Toronto"

print(student)

{'name': 'John', 'age': 22, 'course': 'Python', 'city': 'Toronto'}

In [54]:
#removing items
student.pop("city")
print(student)

{'name': 'John', 'age': 22, 'course': 'Python'}

In [55]:
#looping through dictionary
for key, value in student.items():
    print(key, ":", value)

name : John
age : 22
course : Python

Functions: A function is a block of reusable code that performs a specific task.

In [56]:
def greet():
    print("Hello, Python!")

greet()  # Calling the function

Hello, Python!

In [57]:
# function with parameters
def add(a, b):
    return a + b

result = add(5, 3)
print("Sum:", result)

Sum: 8

In [59]:
#function with default parameter
def greet(name="Guest"):
    print("Hello,", name)

greet()           # Hello, Guest
greet("Alice")    # Hello, Alice

Hello, Guest
Hello, Alice

In [60]:
#Lambda (Anonymous) Functions
square = lambda x: x * x
print(square(5))  # Output: 25

25

Exception Handling in Python

Exceptions are errors that occur during program execution.
Python provides a way to handle exceptions gracefully using try, except, finally.

In [61]:
#basic try- except
try:
    num = int(input("Enter a number: "))
    print("You entered:", num)
except ValueError:
    print("Invalid input! Please enter a number.")

Enter a number: 6
You entered: 6

In [62]:
#handeling multiple exceptions
try:
    x = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")
except ValueError:
    print("Invalid value!")

Cannot divide by zero!

Key Points:

âœ” try â†’ code that might cause error,
âœ” except â†’ handles specific error,
âœ” finally â†’ runs always

In [63]:
try:
    f = open("sample.txt", "r")
    print(f.read())
except FileNotFoundError:
    print("File not found!")
finally:
    print("Execution completed.")

File not found!
Execution completed.

Object-Oriented Programming (OOP) â€“ Classes in Python.                                             
Classes and Objects in Python:
A class is a blueprint for creating objects.
An object is an instance of a class.

In [68]:
# Define a class
class Person:
    def __init__(self, name, age):
        self.name = name  # Instance variable
        self.age = age

    def display(self):
        print("Name:", self.name, "Age:", self.age)

# Create objects
person1 = Person("Alice", 25)
person2 = Person("Bob", 30)

# Access methods
person1.display()
person2.display()

Name: Alice Age: 25
Name: Bob Age: 30

Key Concepts

__init__ â†’ Constructor, automatically runs when object is created

Instance variables â†’ Belong to the object (self.name)

Methods â†’ Functions inside a class (display())

Objects â†’ Instances of a class